USE [master]
GO
/****** Object:  Database [520Семенов]    Script Date: 15.04.2024 18:09:25 ******/
CREATE DATABASE [520Семенов]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'520Семенов', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\520Семенов.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'520Семенов_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.SQLEXPRESS\MSSQL\DATA\520Семенов_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [520Семенов].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [520Семенов]
GO
/****** Object:  Table [dbo].[city]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[city](
	[номер] [int] NULL,
	[герб] [image] NULL,
	[название] [nvarchar](50) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[contry]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[contry](
	[название] [nvarchar](max) NOT NULL,
	[названиеАнгл] [nvarchar](max) NOT NULL,
	[код] [nvarchar](10) NOT NULL,
	[код2] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[event]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[event](
	[№] [int] NOT NULL,
	[событие] [nvarchar](max) NOT NULL,
	[date] [date] NOT NULL,
	[days] [int] NOT NULL,
	[город] [int] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[juri]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[juri](
	[ФИО] [nvarchar](50) NOT NULL,
	[пол] [nvarchar](50) NOT NULL,
	[почта] [nvarchar](50) NOT NULL,
	[дата_рождения] [date] NOT NULL,
	[страна] [int] NOT NULL,
	[телефон] [nvarchar](50) NOT NULL,
	[направление] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](50) NOT NULL,
	[фото] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[moder]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[moder](
	[ФИО] [nvarchar](50) NOT NULL,
	[пол] [nvarchar](50) NOT NULL,
	[почта] [nvarchar](50) NOT NULL,
	[дата_рождения] [datetime] NOT NULL,
	[страна] [int] NOT NULL,
	[телефон] [nvarchar](50) NOT NULL,
	[направление] [nvarchar](50) NOT NULL,
	[мероприятие] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](50) NOT NULL,
	[фото] [image] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[organ]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[organ](
	[ФИО] [nvarchar](50) NOT NULL,
	[почта] [nvarchar](50) NOT NULL,
	[дата_рождения] [datetime] NOT NULL,
	[страна] [int] NOT NULL,
	[телефон] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](50) NOT NULL,
	[фото] [image] NULL,
	[пол] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[participant]    Script Date: 15.04.2024 18:09:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[participant](
	[ФИО] [nvarchar](50) NOT NULL,
	[почта] [nvarchar](50) NOT NULL,
	[дата_рождения] [datetime] NOT NULL,
	[страна] [int] NOT NULL,
	[телефон] [nvarchar](50) NOT NULL,
	[пароль] [nvarchar](50) NOT NULL,
	[фото] [image] NULL,
	[пол] [nvarchar](50) NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[city] ([номер], [герб], [название]) VALUES (1, NULL, N'Абаза')
INSERT [dbo].[city] ([номер], [герб], [название]) VALUES (2, NULL, N'Абакан')
INSERT [dbo].[city] ([номер], [герб], [название]) VALUES (3, NULL, N'Абдулино')
GO
INSERT [dbo].[contry] ([название], [названиеАнгл], [код], [код2]) VALUES (N'Абхазия', N'Abkhazia', N'AB', 895)
INSERT [dbo].[contry] ([название], [названиеАнгл], [код], [код2]) VALUES (N'Австралия', N'Australia', N'AU', 36)
INSERT [dbo].[contry] ([название], [названиеАнгл], [код], [код2]) VALUES (N'Австрия', N'Austria', N'AT', 40)
GO
INSERT [dbo].[event] ([№], [событие], [date], [days], [город]) VALUES (1, N'Всероссийский хакатон neuromedia 2017 по разработке продуктов на стыке информационных технологий, медиа и нейронных сетей ', CAST(N'2022-10-26' AS Date), 1, 34)
INSERT [dbo].[event] ([№], [событие], [date], [days], [город]) VALUES (2, N'Встреча #3 клуба ITBizRadio на тему:  «уборка» — выкидываем ненужные навыки, инструменты и ограничения» ', CAST(N'2022-07-14' AS Date), 3, 34)
INSERT [dbo].[event] ([№], [событие], [date], [days], [город]) VALUES (3, N'Встреча клуба «Leader stories»: Мотивирующее руководство ', CAST(N'2023-11-09' AS Date), 2, 2)
GO
INSERT [dbo].[juri] ([ФИО], [пол], [почта], [дата_рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (N'Герасимова Айлин Ефимовна', N'женский', N'loraine.aufderhar@johnston.info', CAST(N'1966-06-09' AS Date), 53, N'7(835)478-61-60', N'Дизайн', N'TuhRzy', NULL)
INSERT [dbo].[juri] ([ФИО], [пол], [почта], [дата_рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (N'Большаков Августин Алексеевич', N'мужской', N'juanita.kuvalis@yahoo.com', CAST(N'1978-07-12' AS Date), 52, N'7(173)770-55-13', N'ИТ', N'4Y83lz', NULL)
INSERT [dbo].[juri] ([ФИО], [пол], [почта], [дата_рождения], [страна], [телефон], [направление], [пароль], [фото]) VALUES (N'Морозов Ким Демьянович', N'мужской', N'ibode@lebsack.com', CAST(N'1981-10-11' AS Date), 67, N'7(518)761-85-69', N'ИТ', N'z0q7Co', NULL)
GO
INSERT [dbo].[moder] ([ФИО], [пол], [почта], [дата_рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (N'Царева Виктория Давидовна', N'женский', N'iunhxq41tgr5@tutanota.com', CAST(N'1988-07-03T00:00:00.000' AS DateTime), 33, N'7(567)103-73-32', N'ИТ', N'IT в бизнесе', N'FYi396Dd5u', NULL)
INSERT [dbo].[moder] ([ФИО], [пол], [почта], [дата_рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (N'Зорин Дмитрий Маркович', N'мужской', N'ofdt4z1bijq0@tutanota.com', CAST(N'1993-09-07T00:00:00.000' AS DateTime), 57, N'7(79)644-01-06', N'ИТ', N'IT в бизнесе', N'7gi7E8K4Ng', NULL)
INSERT [dbo].[moder] ([ФИО], [пол], [почта], [дата_рождения], [страна], [телефон], [направление], [мероприятие], [пароль], [фото]) VALUES (N'Зотова Анна Тимуровна', N'женский', N'ac6yxzg7rl5k@mail.com', CAST(N'1990-09-21T00:00:00.000' AS DateTime), 11, N'7(488)643-19-98', N'Биг Дата', N'Разработка приложений', N'3L3eA5eEg3', NULL)
GO
INSERT [dbo].[organ] ([ФИО], [почта], [дата_рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Васильев Всеволод Давидович', N'6z92wongmash@tutanota.com', CAST(N'1988-10-16T00:00:00.000' AS DateTime), 51, N'7(354)903-53-67', N'Ke22Yh8Pp7', NULL, N'мужской')
INSERT [dbo].[organ] ([ФИО], [почта], [дата_рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Новиков Фёдор Макарович', N'jkp23vlzsqei@gmail.com', CAST(N'1980-08-03T00:00:00.000' AS DateTime), 33, N'7(6562)925-01-77', N'Tj78jXeH68', NULL, N'мужской')
INSERT [dbo].[organ] ([ФИО], [почта], [дата_рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Фролова Владислава Савельевна', N'dncmxp1vqr4t@tutanota.com', CAST(N'1999-07-13T00:00:00.000' AS DateTime), 43, N'7(12)981-33-56', N'DF9a8cJf82', NULL, N'женский')
GO
INSERT [dbo].[participant] ([ФИО], [почта], [дата_рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Ершова Нора Федотовна', N'techie@outlook.com', CAST(N'1987-03-26T00:00:00.000' AS DateTime), 71, N'+7 (960) 424-07-11', N'tKKevv8%', NULL, N'женский')
INSERT [dbo].[participant] ([ФИО], [почта], [дата_рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Афанасьева Жанна Валентиновна', N'agapow@yahoo.com', CAST(N'1988-01-04T00:00:00.000' AS DateTime), 34, N'+7 (930) 661-69-31', N'huSfHm4$', NULL, N'женский')
INSERT [dbo].[participant] ([ФИО], [почта], [дата_рождения], [страна], [телефон], [пароль], [фото], [пол]) VALUES (N'Крылова Рая Всеволодовна', N'chaikin@yahoo.ca', CAST(N'1988-04-05T00:00:00.000' AS DateTime), 73, N'+7 (957) 265-60-68', N'TlUwMw77%', NULL, N'женский')
GO
USE [master]
GO
